<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="d-flex justify-content-center">Eat The Burger!</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{else}}
                <li>
                    <p>Burger Name: {{burger_name}}</p>
                </li>

            </ul>
        </div>
        <div class="col-lg-2">
            <button class="eatBurger" data-burgerid="{{id}}">Eat the burger!</button>
        </div>
        <div class="col-lg-2">
            <button class="deleteBurger" data-burgerid="{{id}}">Delete Burger!</button>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form class="mt-3 d-flex justify-content-center" id="burgerForm" action="/" method="POST">

                <textarea placeholder="Type a burger here!" type="text" name="burger_name"></textarea>

                <button class="mt-3" id="createBurger" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Eaten burgers: </h2>
            {{#each burgers}}
            {{#if devoured}}
            <li>{{burger_name}}</li>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#burgerForm").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // [name=plan] will find an element with a "name" attribute equal to the string "plan"
        var newBurger = {
            burger_name: $("#burgerForm [name=burger_name]").val().trim()
        };

        // Send the POST request.
        $.ajax("/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new plan");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".eatBurger").on("click", function (event) {
        // Make sure to preventDefault on a submit event.

        event.preventDefault();

        var id = $(this).attr("data-burgerid")
        // Send the PUT request.
        $.ajax("/burgers/" + id, {
            type: "PUT"
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".deleteBurger").on("click", function (event) {
        var id = $(this).data("burgerid");
        $.ajax("/burgers/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id: " + id);
                location.reload();
            }
        )
    })

//
//
</script>